*{
    /*font-family: 'Lato', sans-serif;*/
    box-sizing: border-box; 
    margin:0 auto;
    padding: 0 auto;
}

/* Parent Container */
.container{
    min-height: 100vh;
    width: 100%;
}
/* Navbar Straight line*/
.straight-navbar{
    border:solid 1px black;
    margin-bottom:5px;
    opacity: .7;
}

.navbar{
    font-family: 'Lato', sans-serif;
    background-color:#71c7ec  ;
}
/* End of Navbar */


/* zoom Images */
  .zoom {
    opacity: 1;
    display: block;
    width: 100%;
    height: 50vh;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .zoom:hover {
    opacity: 0.3;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
  }
/* End of Zoom */

/* Home Page */
.home-container{
    min-height: 65vh;
    width: 100%;
}

.cardBooking{
    background-color:#fafaf7;
    opacity: .7;
}
.italicBoldText{
    color:#14bffc;
    font-weight: bolder;
    font-style:italic;
}
.cyanButton{
    background-color:#14bffc;
    color:white;
}

.more-container {
    min-height: 80vh;
    background-image:url('./images/bg1.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.ramLogoWhite{
    margin-top: 100px;
    color:white;
}

.whiteText {
    color:white;
}
.welcomePara {
    text-align: justify;
    color: #222222;
    font-style: normal;
    margin-right: 10px;
    margin-left:10px;
    width: 95%;
}

#bannerImg{
    width: 100%;
    height:61vh;
    object-fit: cover;
}
.homePara {
    text-align: justify;
    font-size: 14px;
    width: 98%;
    font-style: normal;
}
/*Activity */

.actPic{
    padding:0;
}
.activity-container{
    background-color: #14bffc;
}
#activityImg{
    width: 100%;
    height: 50vh;
   object-fit: cover;

}
.activityText{
    color:white;
    background-color: #247ba0;
    width: 100%;
    height: 50vh;
    padding-left: 10px;
    padding-right: 10px;
}
.activityText2{
    color:white;
    background-color: #14bffc;
    width: 100%;
    height: 50vh;
    padding-left: 10px;
    padding-right: 10px;
}
.photography-container{
    margin-top: 50px;
    margin-bottom:10px;
}

.thumb {
    width:30%;
    margin-left: 10px;
    margin-bottom: 5px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
    height: 23vh;
}

  .thumb:hover {
    opacity: 0.3;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
  }



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
     
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

/*About Us*/
  .about-container{
    min-height: 100vh;
    width: 100%;
    color:#14bffc;
}

 .about-container .imageBanner{
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo{
    height: 50vh;
    text-align: center;
}
.logoStyle{
   height: 80px;
}


.about-container .content p{
    text-align: justify;
    width: 100%;
    text-decoration: none;
    font-size: medium;
    margin-bottom: 20px;
    color: #222222;
}

.omtPara { 
    text-align: justify;
    font-size: 15px;
    color:#222222;
}

/* AllRooms */
.room-container{
    padding-top: 50px;
}
.offerText {
    color:#14bffc;
    margin-top: 50px;
}

/*Couple */
.coupleText{
    color:#14bffc;
}
.viewMore{
    background-color: #14bffc;
    color:white;
}


/* Room Details */
.bookNow{
    background-color:#14bffc ;
    color:white;
}
/*Login */
.cyanText{
    color:#14bffc;
}
/*Login */

.cancelButton{
    background-color:#abaaa7 ;
    opacity:.8;
}

.declineMore{
background-color: #e30000;
    color:white;
}

/* Couple Gallery*/
.first{
    height: 50vh;
    width: 100%;
}
.test1 {
    height: 20vh;
    width: 25%;
    margin:0 auto;
}
.freebies{
    background-color:#f0f2f1;
}
.freebiesPara{
    color:#222222;;
}


/*Login */
.login-box{
    width:280px;
    border:1px solid black;
    color:black;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding:8px 0;
    margin:8px 0;
    border-bottom: 1px solid cyan;
}
.textbox i{
    width: 26;
    float: left;
    text-align: center;
}
.textbox input{
    outline: none;
    background:none;
    color:black;
    font-size:18px;
    width: 80%;
    float: left;
    margin:0 10px;
}

.loginBtn{
    width: 100%;
    background-color: #14bffc;
    padding: 5px;
    margin-bottom:2px;
    border:black;
    color:white;
    font-size:18px;
    cursor:pointer;
}

/* Error 403 */
.error-container{
    background-color:red;
}
.error403{
    font-size:150px;
    color:red;
    font-weight: bolder;
}



/* Footer Section */
.page-footer{
    font-family: 'Lato', sans-serif;
    background-color: 	#189ad3;
    color:white;
    height: auto;
}
.footer{
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    background-color: 	#189ad3;
    left: 0;
    height: 50px;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.straight-footer{
    border:solid 1px #222222;
    opacity:.7;
    margin-top: 10px;;

}


/* TEMP LOGIN */
.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #71c7ec;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: 100px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #189ad3;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #189ad3 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #189ad3 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}


/* Register Form */
.cardDesign{
    height: 100%;
    margin-top:50px;
    background: #71c7ec;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}



/* Checkout */
.image-container {
    min-height: 100vh;
    background-image:url('./images/bg1.jpg') ;
    background-position: center center;
    background-size: cover;
    position: relative; 
}
.image-container:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .3; 
}
.checkout-container {
    padding-top: 100px;
    z-index: 3; 
}
.checkout-container {
position: relative;
 }
.checkout-card {
    min-height: 410px;
 }
 .thankYouPara {
    text-align: justify;
    color: #222222;
    font-style: normal;
    margin-right: 30px;
    margin-left:30px;
    width: 100%;
}
.table-responsive{
    display:none;
}


@media screen and (max-width:1024px){
    .home-container{
        min-height: 33vh;
    }
    #bannerImg{
        height:30vh;
        width: 100%;
        object-fit: cover;
    }
    .booking-card{
        height: 31vh;
        width:100%;
    }
    .booking-card .cardBooking .card-body{
        height: auto;
        width: 100%;
        text-align: center;
    }   
    .more-container{
        min-height: 35vh;
    }
    .photography-container{
        margin: 0 auto;
    }
    
    #activityImg{
        height: 40vh;
        width: 100%;
    }
    .activityText{
        height: auto;
        width: 100%;
        font-size: 15px;
    }
    .activityText2{
        height: auto;
        width: 50%;
        text-align: justify;
    }

    .ramVideo-container{
        margin-top: 0;
        padding: 0 auto;
    }
  
}



@media screen and (max-width:760px){
    #bannerImg{
        height:62vh;
        width: 100%;
        object-fit: cover;
    }
    .booking-card{
        height: 55vh;
        width:100%;
    }
    
    .ramLogoWhite{
        margin-top: 0;
        font-size: 22px;
        margin: 0 auto;
    }
    .whiteText{
        font-size: 13px;
        text-align: justify;
    }
    .activityText{
        padding:0 auto;
        height: auto;
        width: auto;
    }
    .activityText2{
        padding:0 auto;
        height: auto;
        width: auto;
    }
    .photography-container{
        margin:0 auto;
    }
    .ramVideo-container{
        margin-top: 0;
        padding-top: 0;
    }
    .ramVideo-container h3{
        margin-top: 0;
        padding-top: 0;
    }
    .post-container .row{
        margin:0 auto;
    }
    .post-container .thumb{
        margin-left: 5px;
        margin-right: 5px;
        height: 30vh;
        width: 45%;
    }


    /* User Transaction */
    .table-hover{
        display:none;
    }
    .table-responsive{
        display:block;
    }
}